/* constants */
:root {
  --ctheme: #ff8c52;
  --ctheme-lite: #ffac52;
  --c333: #333;
  --c777: #777;
  --c888: #888;
  --c999: #999;
  --caaa: #aaa;
  --cbbb: #bbb;
  --cccc: #ccc;
  --cddd: #ddd;
  --ce2: #e2e2e2;
  --ceee: #eee;
  --cf7: #f7f7f7;
  --cfff: #fff;
  --c-ico-green: #22aa55;
  --c-msg-green: #33dd33;
  --c-ico-red: #dd5555;
  --c-msg-red: #ff3333;
  --s11: 11px;
  --s13: 13px;
  --s13: 13px;
  --s13-5: 13.5px;
  --s15: 15px;
  --s18: 18px;
  --s20: 20px;
  --s24: 24px;
  --nav-height: 120px;
  --nav-top-media: 127px;
}

/* colors */
.ctheme {
  color: var(--ctheme);
}
.cico-green {
  color: var(--c-ico-green);
}
.cmsg-green {
  color: var(--c-msg-green);
}
.cico-red {
  color: var(--c-ico-red);
}
.cmsg-red {
  color: var(--c-msg-red);
}
.cfff {
  color: var(--cfff);
}
.cf7 {
  color: var(--cf7);
}
.cddd {
  color: var(--cddd);
}
.caaa {
  color: var(--caaa);
}
.c999 {
  color: var(--c999);
}
.c888 {
  color: var(--c888);
}
.c777 {
  color: var(--c777);
}
.c333 {
  color: var(--c333);
}

/* fonts */
.s11 {
  font-size: var(--s11);
}
.s13 {
  font-size: var(--s13);
}
.s13-5 {
  font-size: var(--s13-5);
}
.s14 {
  font-size: var(--s14);
}
.s15 {
  font-size: var(--s15);
}
.s18 {
  font-size: var(--s18);
}
.s20 {
  font-size: var(--s20);
}
.s24 {
  font-size: var(--s24);
}
.fontb {
  font-weight: bold;
}
.fontn {
  font-weight: normal;
}

/* logo */
.logo-name {
  color: var(--ctheme);
  font-size: 30px;
  font-weight: bold;
  text-decoration: none;
}
.catchline {
  color: var(--ctheme);
  margin-left: 12px;
  font-size: 14px;
  font-weight: bold;
  font-style: italic;
  line-height: 50%;
}
.silent-link {
  text-decoration: none;
}
.logo-box {
  margin: 0 0 0 20px;
  padding: 0 0 0 20px;
}

/* containers */
.app-content {
  flex: 2;
  padding: 20px 0px;
}
html {
  min-height: 100%;
}
.page-boundary {
  min-width: 220px;
}
main {
  /* max-width: 1000px; */
  margin: auto;
  height: 70vh;
}
.error-image {
  margin-top: 20px;
  height: 200px;
  width: 200px;
}
.inline-flag-icon-display {
  height: 20px;
  width: 30px;
}
.sameline-display {
  flex-direction: column;
}

/* Components */
.row-display {
  display: inline-flex;
}
.bottom-align {
  padding-top: 23px;
  padding-left: 1.5px;
}
.select-box {
  border: 0px;
}

/* Generic */
body {
  margin: 0px;
  padding: 0px;
}
ul,
ol {
  margin: 0px;
  padding: 0px;
  list-style: none;
}
h2,
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
  margin: 0px;
  padding: 0px;
}
.button {
  outline: none;
}
.flex {
  display: flex;
}
.aic {
  align-items: center;
}
.jcc {
  justify-content: center;
}
.fixed {
  position: fixed;
}
.abs {
  position: absolute;
}
.rel {
  position: relative;
}
.noul {
  text-decoration: none;
}
.bl {
  display: block;
}

/* Navbar */
nav-anodiam {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: var(--cf7);
  padding: 15px 50px 10px 20px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.05);
  height: var(--nav-height);
}
.main-menu-alignment {
  margin-right: -26px;
}
#navbar {
  display: flex;
  align-items: center;
  justify-content: center;
}
#navbar li {
  list-style: none;
  padding: 0 20px;
  position: relative;
}
#navbar li a {
  text-decoration: none;
  font-size: 1.2rem;
  font-weight: bold;
  color: var(--c999);
  transition: 0.3s ease-in-out;
}
#navbar li a:hover,
#navbar li a.active {  color: var(--ctheme);
}
#navbar li a:hover::after,
#navbar li a.active::after {  content: '';
  width: 30%;
  height: 2px;
  background: var(--ctheme);
  position: absolute;
  bottom: -4px;
  left: 20px
}
#mobile {
  display: none;
  margin-left: 20px
}
#mobile i {
  color: var(--c999);
}

/* Footer */
.footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: var(--cddd);
  padding: 10px 80px;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  color: var(--c777);
  text-align: center;
}
.footer .footer-box {
  margin: 15px 0;
  padding: auto;
  position: relative;
}
.footer .footer-box a {
  text-decoration: none;
  font-size: 1rem;
  font-weight: bold;
  color: var(--c999);
  transition: 0.3s ease-in-out;
}
.flag-img{
  height: 14px;
  width: 21px;
}
.left-margin-medium {
  margin-left: 30px;
}

.footer .footer-box a:hover,
.footer .footer-box a.active {
  color: var(--ctheme);
}

.footer .footer-box a:hover::after,
.footer .footer-box a.active::after {
  content: '';
  width: 30%;
  height: 2px;
  background: var(--ctheme);
  position: absolute;
  bottom: -4px;
  left: 20px
}
.footer .footer-box .footer-info-left {
  align-items: flex-start;
}

/* Auth Module */
.social-btn{
  width: 100% !important;
  height: 40px !important;
  line-height: 40px !important;
  font-size: 15px !important;
}
.social-btn > div,
.social-btn > div > svg {
  width: 40px !important;
  height: 38px !important;
}

/* Form Body */
.page-body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 40px auto;
  padding: 40px auto;
  min-width: 300px;
}
.page-header {
  margin: auto;
  padding: auto;
}
.page-message {
  margin: 30px auto 0 auto;
  padding: 30px auto 0 auto;
}
.anodiam-form {
  padding: 10px 20px 0 20px;
  width: 80%;
}
.link-with-caption{
  margin: auto;
  padding-bottom: 10px;
}
.link-decor{
  color: var(--ctheme);
}
.link-decor:hover {
  color: var(--ctheme-lite);
}
.footer-bgcolor {
  background-color: var(--cccc);
}
form {
  padding: 0 20px;
  margin: 0 20px;
  max-width: 600px;
}
form button, form h5 {
  margin: 20px 0;
}
input[type=text]:not(.browser-default):focus:not([readonly]),
input[type=email]:not(.browser-default):focus:not([readonly]),
input[type=password]:not(.browser-default):focus:not([readonly]),
textarea.materialize-textarea:focus:not([readonly]){  
  border-color: var(--ctheme-lite);
  border-width: 2px;
  box-shadow: none;
}
.theme-btn {
  background-color: var(--ctheme) !important;
  width: 100%;
  margin-top: 30px;
}
.theme-btn:hover {
  background-color: var(--ctheme-lite) !important;
  transition: 0.3s ease-in-out;
}
.anodiam-form-container {
  display: block;
  position: relative;
  padding-left: 20px;
  margin: 6px 0;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.progress-bar-top {
  top: -5px;
}
.show-hide-password-position {
  float: right;
  position: relative;
  top: -57px;
  margin-bottom: -33px;
  margin-right: 5px;
}
.show-hide-password {
  background-color: var(--ceee);
  border: var(--cbbb) 1px solid;
  border-radius: 6px;
  padding: 2.5px 5px;
}
.show-hide-password:hover {
  border: var(--ctheme-lite) 1.5px solid;
  color: var(--ctheme-lite);
  transition: 0.3s ease-in-out;
}
.cursor-pointer {
  cursor: pointer;
}
.error-in-field {
  color: var(--c-msg-red);
}
.search-bar-alignment {
  align-items: flex-start;
  margin: 0 20px 0 0;
  width: 40%;
  border: 1px solid var(--ctheme);
  padding: auto;
  max-width: 220px;
  min-width: 100px;
  border-radius: 25px;
  background-color: #fff;
  height: 40px;
}
.search-form {
  display: flex;
  flex-direction: row;
  margin: 0;
  padding: 0;
}
.search-field {
  position: relative;
  margin: 0;
  padding: 0;
}
.search-text{
  padding-bottom: 0;
  margin: 0 4px 0 16px;
}
.search-button {
  margin: 0;
  padding: 0;
  margin-top: 0;
  height: 38px;
  width: 40px;
  border-top-right-radius: 19px;
  border-bottom-right-radius: 19px;
  border-top-left-radius: 19px;
  border-bottom-left-radius: 19px;
}
.fasearch-position{
  padding: 2px 0 0 4px;
}
#search-query {
  border: none;
  margin-top: -3px;
}

/* Media */
@media screen and (max-width: 992px) {
  #navbar {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    position: absolute;
    z-index: 5;
    top: var(--nav-top-media);
    right: -310px;
    width: 300px;
    height: 300px;
    background: rgba(245, 245, 245, 0.9);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.05);
    padding: 20px 0 0 30px;
    transition: 0.3s ease-in-out;
  }
  #navbar.active {
    right: 0px;
  }
  #mobile {
    display: block;
  }
  #mobile i {
    font-size: 25px;
    cursor: pointer;
  }
  #navbar li {
    margin-bottom: 20px;
  }
  .footer {
    flex-direction: column;
  }
}